.art-piece-preview {
  position: relative;
  text-align: center;
  background-color: beige;
  padding: 20px;
  overflow: hidden;
  border: solid black;
}

.content {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  color: #aaa;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 40%, #000);
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  padding: 32px;
}

.art-piece-preview:hover .content {
  top: 0;
}

.art-image {
  width: auto;
  max-width: 100%;
}

.artist {
  text-align: right;
  margin-top: 24px;
}
