.artList {
  list-style-type: none;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

.preview {
  width: 30%;
  min-width: 300px;
  
  box-shadow: 10px 12px 0.5rem rgba(0,0,0,0.5);
  margin: 30px;
}
